<!DOCTYPE html>
<html>
<head>
    <title>Previsão do Modelo ML</title>
</head>
<body>
    <h1>Insira seus dados</h1>
    <form action="/predict" method="post">
        <input type="text" name="feature1" placeholder="Característica 1" required="required">
        <input type="text" name="feature2" placeholder="Característica 2" required="required">
    
        <button type="submit">Prever</button>
    </form>
    {% if prediction_text %}
    <h2>{{ prediction_text }}</h2>
    {% endif %}
</body>
</html>